
/*file2 red*/
.file2 {
	color: blue;
	background-color: blue;
}

/*file2 green */
.file2 {
  color: green;
  background-color: green;
}

/*file2 blue */
.file2 {
  color: red;
  background-color: red;
}

/*file2 last say red*/
.file1 {
	color: red;
}